/*
//--------DARK---MODE
$BGcolor: rgb(22, 22, 22);
$Colorletter: white;
$ColorletterHover: rgb(146, 146, 146);
$ColorExtra: rgb(53, 53, 53);
$fuente: 'Architects Daughter', cursive;
*/

//--------WHITE---MODE
$BGcolor: white;
$Colorletter: rgb(22, 22, 22);
$ColorletterHover: rgb(146, 146, 146);
$ColorExtra: whitesmoke;
$fuente: 'Architects Daughter', cursive;